<header>
  <img src="../assets/ass.jpg" alt="assbook">
  <h1>Welcome to Assbook</h1>

  <input routerLink='/historico' type="button" value="Mis historicos">
  <input routerLink='/cosas' type="button" value="Mis cosos">
  <input routerLink='/colegas' type="button" value="Mis colegos">
  <input routerLink='/eventos' type="button" value="Eventualidades">
</header>
<body>

  <app-perfil></app-perfil>
  
  <router-outlet></router-outlet>
  
</body>

<footer>
  <p>Copyright Mi Culo - 2019 - Assbook - Una red social cualquiera en Angular</p>
</footer>